@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

*{
	box-sizing: border-box;
}

body {
    background: #050708;
	font-family: Montserrat, sans-serif;
	
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	min-height: 100vh;
	margin: 0;
}

h3 {
	margin: 10px 0;
}

h6 {
	margin: 5px 0;
	text-transform: uppercase;
}

p {
	font-size: 14px;
	line-height: 21px;
}

.card-container {
    background: #151515;
	border-radius: 5px;
	box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
	color: #B3B8CD;
	padding-top: 30px;
	position: relative;
	width: 350px;
	max-width: 100%;
	text-align: center;
}

.social-icons {
    padding: 0;
    list-style: none;
    margin: 1em;
  }

  .social-icons li {
    display: inline-block;
    margin: 0.15em;
    position: relative;
    font-size: 1.2em;
  }

  .social-icons i {
    color: #fff;
    position: absolute;
    top: 21px;
    left: 21px;
    transition: all 265ms ease-out;
  }
  .social-icons a {
    display: inline-block;
  }
  .social-icons a:before {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    content: " ";
    width: 60px;
    height: 60px;
    border-radius: 100%;
    display: block;
    background: #8E2DE2; 
    background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2); 
    background: linear-gradient(to right, #4A00E0, #8E2DE2);
    transition: all 265ms ease-out;
  }
  .social-icons a:hover:before {
    transform: scale(0);
    transition: all 265ms ease-in;
  }
  .social-icons a:hover i {
    transform: scale(2.2);
    -ms-transform: scale(2.2);
    -webkit-transform: scale(2.2);
    color: #5b4f96;
    background: #8E2DE2; 
    background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2); 
    background: linear-gradient(to right, #4A00E0, #8E2DE2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 265ms ease-in;
  }

.skills {
	background-color:  #212121;
	text-align: left;
	padding: 15px;
	margin-top: 30px;
}

.skills ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.skills ul li {
	border: 1px solid #2D2747;
	border-radius: 2px;
	display: inline-block;
	font-size: 12px;
	margin: 0 7px 7px 0;
	padding: 7px;
}
